@model SmartTicketingSystem.Models.TICKET_TYPE

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TICKET_TYPE</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventID" class="control-label"></label>
                <input asp-for="EventID" class="form-control" />
                <span asp-validation-for="EventID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeName" class="control-label"></label>
                <input asp-for="TypeName" class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seatLimit" class="control-label"></label>
                <input asp-for="seatLimit" class="form-control" />
                <span asp-validation-for="seatLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salesStartAt" class="control-label"></label>
                <input asp-for="salesStartAt" class="form-control" />
                <span asp-validation-for="salesStartAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salesEndAt" class="control-label"></label>
                <input asp-for="salesEndAt" class="form-control" />
                <span asp-validation-for="salesEndAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isActive" class="control-label"></label>
                <input asp-for="isActive" class="form-control" />
                <span asp-validation-for="isActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdAt" class="control-label"></label>
                <input asp-for="createdAt" class="form-control" />
                <span asp-validation-for="createdAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
